# Copier en secrets.auto.tfvars (gitignoré) et renseigner les vraies valeurs.
# TODO: basculer vers HashiCorp Vault / AWS Secrets Manager.
jenkins_admin_password = ""
sonar_token            = ""
smtp_username          = ""
smtp_password          = ""
